@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-fondo: #dce7eb;
  --bg-filter: #606a86;

  --color-white: #fff;
  --color-black: #000;

  --font-open: "Open Sans", sans-serif;
}

body {
  background-color: var(--bg-fondo);
  font-family: var(--font-open);
}

.main {
  display: flex;
}

.filter-btn {
  background-color: var(--color-white);
  z-index: 999999;
  display: none;
}

/*======================================*/
/*======= ESTILOS PARA FILTRADO ========*/
/*======================================*/
.filter {
  width: 21.875rem;
  height: 100vh;
  background-color: var(--bg-filter);
  padding: 1.25rem;
  box-shadow: 10px 0px 5px -5px rgba(96, 106, 134, 0.2);
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--bg-fondo);
}

.filter__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

.filter__group {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  border-top: 0.125rem solid var(--bg-fondo);
  padding: 1rem;
}

.filter__subtitle {
  font-weight: 600;
  text-transform: uppercase;
}

.filter__input {
  width: 100%;
  padding: 0.625rem 0.625rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;
  font-size: 0.9rem;
}

.filter__cat {
  margin-top: 0.7rem;
}

.filter__group-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.filter.hide {
  left: -350px;
}

.filter-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--color-white);
  border-radius: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 999;
}
/*======================================*/
/*===== FIN ESTILOS PARA FILTRADO ======*/
/*======================================*/

/*======================================*/
/*====== ESTILOS PARA PRODUCTOS ========*/
/*======================================*/

.products {
  flex: 1;
  margin-left: 21.875rem;
  padding: 1.25rem;
}

.products__title {
  text-transform: uppercase;
  font-size: 2rem;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  margin-top: 1.25rem;
}

.product__card {
  width: 20rem;
  height: 27.5rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0.625rem;
  border-radius: 0.625rem;
}

.product__img {
  width: 80%;
  height: 70%;
  transition: all 0.5s ease;
}

.product__card:hover .product__img {
  transform: scale(1.1);
}

.product__group {
  width: 100%;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  margin-top: 1.25rem;
  color: var(--bg-filter);
}

.product__title {
  text-align: center;
  font-weight: 900;
}

.product-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.product__category {
  font-weight: 600;
}

.product__price {
  font-weight: 900;
  color: var(--color-black);
}

@media (max-width: 1270px) {
  .products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 970px) {
  .filter-btn {
    display: block;
  }

  .filter {
    width: 18.75rem;
  }

  .products {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .products__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 440px) {
  .products__grid {
    justify-content: center;
  }
}
/*======================================*/
/*==== FIN ESTILOS PARA PRODUCTOS ======*/
/*======================================*/
